<!-- muestra el modal en el que se ven/editan los datos de una categoria de fichero -->
<form #categoriaFicheroForm="ngForm">
  <div class="form-row py-2">
    <div class="col-lg-4 col-md-12">
      <label class="titulo"><b>NOMBRE<sup class="text-danger">*</sup></b></label>
      <input type="text" class="form-control letra" [(ngModel)]="categoriaFichero.nombre" placeholder="Nombre de la Categoría de Fichero"
        name="nombre" required #nombre="ngModel" [ngClass]="{ 'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched),
      'is-valid': !nombre.invalid }" />
      <div class="text-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors.required">
          El nombre de la Categoría de Fichero es obligatorio
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <label class="titulo"><b>TIPO<sup class="text-danger">*</sup></b>(0: Imagenes /1: Otros archivos)</label>
      <input type="number" class="form-control letra" [(ngModel)]="categoriaFichero.tipo" placeholder="Tipo de Categoría de Fichero"
        name="tipo"  #tipo="ngModel" [ngClass]="{ 'is-invalid': tipo.invalid && (tipo.dirty || tipo.touched),
      'is-valid': !tipo.invalid }" />
    </div>
    <div class="col-lg-4 col-md-12">
      <label class="titulo"><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label>
      <textarea class="form-control letra" [(ngModel)]="categoriaFichero.descripcion" placeholder="Descripción de la Categoría de Fichero"
        name="descripcion" required #descripcion="ngModel" [ngClass]="{ 'is-invalid': descripcion.invalid && (descripcion.dirty || descripcion.touched),
      'is-valid': !descripcion.invalid }" rows="5" cols="50"></textarea>
      <div class="text-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
        <div *ngIf="descripcion.errors.required">
          La descripción de la Categoría de Fichero es obligatoria
        </div>
      </div>
    </div>
  </div>
  <div class="form-row justify-content-between pt-5">
    <button type="button" class="btn guardar" (click)="editar()" [disabled]="!categoriaFicheroForm.form.valid">Guardar</button>
    <button type="button" class="btn eliminar" (click)="eliminar()">Eliminar</button>
  </div>
</form>