<!-- muestra la tabla de los tipos de formulario -->
<div class="container-fluid">
  <div class="row ml-4 mb-0 pl-3">
    <a class="nav-link text-center volver" routerLink="/superadministrador" routerLinkActive="router-link-active">
      <fa-icon class="fa-2x mr-2" [icon]="faVolver"></fa-icon><strong>Volver</strong></a>
  </div>
  <div class="row mt-4">
    <div class="col-9 text-center">
      <h3 class="text-center titulo1"><u>GESTIÓN DE TIPOS DE FORMULARIO</u> </h3>
    </div>
    <div class="col-3 justify-content-end">
      <button class="btn text-white" routerLink="/tiposFormulario/formulario">Nuevo Tipo de Formulario</button>
    </div>
  </div>
  <hr class='w-100'>
  <div class="row">
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 titulo"><b>NOMBRE</b></div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 titulo text-center"><b>CÓDIGO</b></div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 titulo"><b>DESCRIPCIÓN</b></div>
  </div>
  <div *ngFor="let tipoFormulario of tiposFormulario">
    <app-tipoFormulario [tipoFormulario]="tipoFormulario" (tipoFormularioSeleccionado)="verDatos($event)"></app-tipoFormulario>
  </div>
  <!-- Modal tipoFormulario-->
  <div class="modal fade" id="modalTipoFormulario" tabindex="-1" role="dialog" aria-labelledby="datosTipoFormulario" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosTipoFormulario"><b>Datos Completos del Tipo de Formulario</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-tipoFormulario-ficha *ngIf='tipoFormularioVerDatos' [tipoFormulario]='tipoFormularioVerDatos' (tipoFormularioEliminar)='onTipoFormularioEliminar($event)'
            (tipoFormularioEditar)='onTipoFormularioEditar($event)'></app-tipoFormulario-ficha>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn text-white" data-dismiss="modal" (click)="ngOnInit()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>