<footer class="footer mt-5">
  <div class="row py-3">
    <div class="col-4 text-left pl-5">
      <a target="_blank" rel="noopener"
        href="assets/manual.pdf">
        <span>Manual de Usuario</span>
      </a>
    </div>
    <div class="col-4 text-center">
      <a target="_blank" rel="noopener"
        href="http://intra.mdef.es/portal/intradef/Ministerio_de_Defensa/Ejercito_de_Tierra">
        <span class="mr-4">Ejército de Tierra</span>
      </a>
      <a target="_blank" rel="noopener"
        href="http://intra.mdef.es/portal/intradef/Ministerio_de_Defensa/Ejercito_de_Tierra_-_UCO/UCO/UCO:132">
        <span>CENAD San Gregorio</span>
      </a>
    </div>
    <div class="col-4 text-right pr-5">
      <a routerLink="superadministrador">
        <span>Superadministrador</span>
      </a>
    </div>
  </div>
</footer>