a.volver {
  color: #3a5a40;
  font-size: 16px;
}

a.volver:hover {
  color: #a3b18a;
}

.btn {
  background: #588157;
  padding: 0.5;
  font-size: 14px;
}

.btn:hover {
  background-color: #a3b18a;
}

.btn-filtros {
  font-size: small;
  color: #3a5a40;
  padding: 0.5;
  font-weight: bold;
}

.btn-filtros:hover {
  background-color: #a3b18a;
}

.titulos {
  color: #3a5a40;
  font-weight: bold;
  font-size: small;
}

.titulos-disponibilidad {
  color: #3a5a40;
  font-weight: bold;
  font-size: medium;
}

.titulo1 {
  color: #588157;
}

h5,
h6 {
  color: #354f52;
  font-weight: bold;
}

.modal {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.row {
  height: 2em;
  padding: auto;
  margin: auto;
}

hr {
  margin-bottom: 1;
  margin-top: 0;
}

hr.separacion {
  margin-bottom: 1;
  margin-top: 5;
  border: 2px solid #354f52;
}

select {
  color: #588157;
}

label span {
  color: #3a5a40;
  font-weight: bold;
}

div.aprobadas,
div.canceladas,
div.pendientes,
div.denegadas {
  border: 3px solid #354f52;
}

.titulo-pendientes,
.titulo-disponibilidad {
  margin-top: 5px;
  color: #3a5a40;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a3b18a;
  background-color: #dad7cd;
}

hr.titulo-pendientes,
.titulo-disponibles {
  color: #a3b18a;
  border: 4px;
  border-style: double;
}

.titulo-aprobadas {
  margin-top: 5px;
  color: blanchedalmond;
  font-weight: bold;
  text-shadow: 1px 1px 2px #344e41;
  background-color: #588157;
}

hr.titulo-aprobadas {
  color: #588157;
  border: 4px;
  border-style: double;
}

.titulo-denegadas {
  margin-top: 10px;
  color: maroon;
  font-weight: bold;
  text-shadow: 1px 1px 2px wheat;
  background-color: #a3b18a;
}

hr.titulo-denegadas {
  color: #344e41;
  border: 4px;
  border-style: double;
}

.titulo-canceladas {
  margin-top: 10px;
  color: #dad7cd;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  background-color: #344e41;
}

hr.titulo-canceladas {
  color: #dad7cd;
  border: 4px;
  border-style: double;
}

h6.no-existen {
  color: #a3b18a;
  text-shadow: #344e41;
  font-weight: bold;
  font-size: x-large;
}

.formulario {
  color: #3a5a40;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a3b18a;
  background-color: #dad7cd;
}

.modal {
  margin: auto;
}

div.datos-especificos {
  background-color: #a3b18a;
  background-blend-mode: luminosity;
  border-top: 1px solid #000;
  border-right: 1px solid #333;
  border-bottom: 1px solid #444;
  border-left: 1px solid #333;
}

.titulo {
  color: #3a5a40;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a3b18a;
  font-size: small;
  text-align: center;
}
