div, div a  {
   color: #A3B18A; font-weight: bold
  }

  fa-icon:hover {
   color: #588157;
  }

  .row {
    height: auto;
    padding: auto;
    margin: auto;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }
