<!-- muestra un usuario administrador en una fila, y haciendo click en el nombre lanza un modal para ver/editar -->
<hr class='w-100'>
<div class="row">
  <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6"><a class="" data-toggle="modal"
      data-target="#modalUsuarioAdministrador" (click)='usuarioAdministradorSeleccionado.emit(usuarioAdministrador)'><fa-icon [icon]="faEdit" class="mr-2"></fa-icon> {{usuarioAdministrador.nombre | titlecase}}</a></div>
  <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6" *ngIf='usuarioAdministrador.cenad'>{{usuarioAdministrador.cenad.nombre | uppercase}}</div>
</div>