<!-- muestra un formulario para crear un recurso nuevo de ese cenad -->
<div class="container-fluid">
  <div class="row ml-4 pl-3 mb-0 pb-0">
    <a class="nav-link text-center volver mb-0 pb-0" routerLink="../../"  routerLinkActive="router-link-active">
      <fa-icon class="fa-2x mr-2" [icon]="faVolver"></fa-icon><strong>Volver</strong></a>
  </div>
  <div class="row justify-content-center align-items-start mb-0">
    <h3 class="mt-0 pt-0">CREAR RECURSO</h3>
    <hr class="w-100 mt-0 mb-1" />
  </div>
  <form #recursoForm="ngForm">
    <div class="form-row py-2">
      <div class="col-lg-3 col-md-12">
        <label class="titulo"><b>NOMBRE<sup class="text-danger">*</sup></b></label>
        <input type="text" class="form-control letra" [(ngModel)]="recurso.nombre" placeholder="Nombre del recurso" name="nombre"
          required #nombre="ngModel" [ngClass]="{ 'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched),
          'is-valid': !nombre.invalid }"/>
        <div class="text-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
              El nombre del recurso es obligatorio
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <label class="titulo"><b>CATEGORÍA<sup class="text-danger">*</sup></b></label>
        <select name="categoria" id="categoria" [(ngModel)]="recurso.categoria">
          <option class=" letra" *ngFor="let categoria of categorias" [ngValue]="categoria.url">{{ categoria.nombre }}</option>
        </select>
      </div>
      <div class="col-lg-3 col-md-12">
        <label class="titulo"><b>GESTOR<sup class="text-danger">*</sup></b></label>
        <select name="usuarioGestor" id="usuarioGestor" [(ngModel)]="recurso.usuarioGestor">
          <option class=" letra" *ngFor="let gestor of gestores" [ngValue]="gestor.url">{{ gestor.nombre }}</option>
        </select>
      </div>
       <div class="col-lg-3 col-md-12">
        <label class="titulo"><b>TIPO DE FORMULARIO<sup class="text-danger">*</sup></b></label>
        <select name="tipoFormulario" id="tipoFormulario" [(ngModel)]="recurso.tipoFormulario">
          <option class=" letra" *ngFor="let tipoFormulario of tiposFormulario" [ngValue]="tipoFormulario.url">{{ tipoFormulario.nombre }}</option>
        </select>
      </div>
      <div class="col-lg-12 col-md-12 pt-3">
        <label class="titulo"><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label>
        <textarea class="form-control letra" [(ngModel)]="recurso.descripcion" placeholder="Descripción del recurso" name="descripcion"
          required #descripcion="ngModel" [ngClass]="{ 'is-invalid': descripcion.invalid && (descripcion.dirty || descripcion.touched),
          'is-valid': !descripcion.invalid }" rows="5" cols="50"></textarea>
        <div class="text-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
          <div *ngIf="descripcion.errors.required">
              La descripción del Recurso es obligatoria
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 pt-3">
        <label class="titulo"><b>OTROS<sup class="text-danger">*</sup></b></label>
        <textarea class="form-control letra" [(ngModel)]="recurso.otros" placeholder="Otros datos de interés" name="otros"
          #otros="ngModel" rows="5" cols="50"></textarea>
      </div>
    </div>
    <div class="form-row justify-content-between pt-3">
      <div class="col-lg-5 col-md-12 mb-4">
        <button class="btn text-white" role="button" (click)="crearRecurso()" [disabled]="!recursoForm.form.valid">
          Crear Recurso
        </button>
      </div>
    </div>
  </form>
</div>