h3 {
  color: #3A5A40;
}

img.cenad {
  display: block;
  width: 365px;
  height: 533px;
  align-content: center;
  margin: auto;
  padding-bottom: 2px;
}

div.enlaces {
  border: 6px solid #354f52;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

div a {
  color: #588157;
  font-weight: bold;
  font-size: 20px;
}

div.menu a {
  color: #588157;
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  margin-right: 20px;
}

div a:hover {
  color: yellowgreen;
}