.btn {
  background-color: #3A5A40;
}

.btn:hover {
  background-color: #A3B18A;
}

h3 {
  color: #354f52; 
  font-weight: bold;
}

.titulo {
  color: #3A5A40; 
}

.letra {
  color: #588157;
}

a.volver {
  color: #3A5A40;
  font-size: 18px;
}

a.volver:hover {
  color: #A3B18A;
}