h2 {
  color: #354f52;
}

.bienvenido {
  color: #52796f;
}

img.madoc {
  max-width: 200;
  max-height: 276;
}

div.filtro {
  border: 6px solid #588157;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.btn {
  background: #A3B18A;
  padding: 0.5;
  font-size: 14px;
}

.btn:hover, .tipoFormulario, .categoriaFichero, .unidad, .usuario {
  background-color: #588157;
}

.titulo {
  color: #3A5A40; 
  font-weight: bold;
}

.titulo1 {
  color: #588157;
}

h5 {
  color: #354f52; 
  font-weight: bold;
  background-color:lightgreen;
}

.tipoFormulario:hover, .categoriaFichero:hover, .unidad:hover, .usuario:hover {
  background-color: #A3B18A;
}

a.home {
  color: #3A5A40;
  font-size: 18px;
}

a.home:hover {
  color: #A3B18A;
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}

.modal {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

div.titulos {
  background-color: #DAD7CD;
}