.titulo {
  color: #588157;
  font-size: 12px;
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
}

.row:hover {
  background-color: blanchedalmond;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}
