div, div a {
  color: #A3B18A; 
  font-weight: bold; 
  font-size:12px;
}

fa-icon:hover, .href:hover {
  color: #588157;
}

.row {
  height: 1.5em;
  padding: auto;
  margin: auto;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}