.titulo {
  color: #3a5a40;
  font-weight: bold;
  font-size: small;
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
  font-size: small;
}

div.todas {
  border: 3px solid #354f52;
}

.titulo-todas {
  margin-top: 2px;
  color: blanchedalmond;
  font-weight: bold;
  text-shadow: 1px 1px 2px #344e41;
  background-color: #588157;
}

h6.no-existen {
  color: #a3b18a;
  text-shadow: #344e41;
  font-weight: bold;
  font-size: x-large;
}

a.volver {
  color: #3a5a40;
  font-size: 16px;
}

a.volver:hover {
  color: #a3b18a;
}

select {
  color: #588157;
}

label.solicitudes,
#solicitudesFiltradas,
label.categorias,
#categoriasFiltradas,
label.fechas, label.unidades, 
button {
  color: #3a5a40;
  font-weight: bold;
  font-size: 14px;
}

div .error {
  font-weight: bold;
  font-size: 14px;
}
